.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
}
.logo{
   position: fixed;
   left: 20px;
   width: 80px;
   height: 30px;
   cursor: pointer;
 
}
.logo:hover{
   transform: scale(1.5);
}

.avatar{
   position: fixed;
   right: 20px; 
   width: 30px;
}
.searchBar{
  position:fixed;
  right: 150px;
  width: 79px;;
  

}
.input{
   border-radius: 5px 
   
}
input:focus{
   outline: none;
}
.icon{
   color: #bcb7c4;
   position: fixed;
   right: 235px;
   margin-top: 6px;
   cursor: pointer;
   font-size: 13px;
}
